@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*-----Cover-----*/
body
{
    background-image:url(Images/capitol.jpg);
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.login-wrapper {
    height: 100vh;
    width: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    position: relative;
    width: 100%;
    max-width: 380px;
    padding: 80px 40px 40px;
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}
.form::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255, 0.08);
    transform: skewX(-26deg);
    transform-origin: bottom left;
    border-radius: 10px;
    pointer-events: none;
}
.form h2 {
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    color: #e3e4c0;
}
.form .btn {
    margin-left: auto;
    border: none;
    outline: none;
    background-image: linear-gradient(to right bottom, #fcfca3, #f9d563, #fba829, #fe7200, #ff0000);  font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    color: #080000;
    text-decoration: none;
  }
  .form .btn .txt {
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    color: #131311;
    text-decoration-thickness: 2px;
    text-decoration:solid;
  }
