@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  font-family: 'Poppins',sans-serif;
}
body{
    background-image: url(Images/bg-canvas.gif);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
}
.wrapper{
padding-top: 20px;
  width: 380px;
  background-color: rgba(0, 0, 0, 0.61);
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
  margin-bottom: 20px;
    justify-content: center;

}
.wrapper .title{
  line-height: 80px;
  background: rgba(2, 0, 0, 0.479);
  box-shadow: 0 15px 25px rgba(0,0,0,0.5);
  border-radius: 5px 5px 0 0;
  color: rgb(250, 250, 250);
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form{
  padding: 30px 20px 25px 20px;
}
.wrapper form .row{
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}
.wrapper form .row input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}
form .row input:focus{
  border-color: #010e0b;
  box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}
form .row input::placeholder{
  color: #999;
}
.wrapper form .row i{
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background: #ff0000;
  border: 1px solid #020e0b;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form .pass{
  margin: -8px 0 20px 0;
}
.wrapper form .pass a{
  color: #ffffff;
  font-size: 17px;
  text-decoration: none;
}
.wrapper form .pass a:hover{
  text-decoration: underline;
}
.wrapper form .button input{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: red;
  border: 1px solid #ff0101;
  cursor: pointer;
}
form .button input:hover{
  background: linear-gradient(to right bottom, #fcfca3, #f9d563, #fba829, #fe7200, #ff0000);;
}
.wrapper form .signup-link{
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
}
.wrapper form .signup-link a{
  color: #e4e4e4;
  text-decoration: none;
}
form .signup-link a:hover{
  text-decoration: underline;
}
.forgot-pw {
  color: inherit;
}

.submit-btn {
    display: block;
    margin-left: auto;
    border: none;
    outline: none;
    background-image: linear-gradient(to right bottom, #fcfca3, #f9d563, #fba829, #fe7200, #ff0000);  font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    color: #ffffff;
    text-decoration: none;
  }
.resend-email {
    color: white;
  }
p{
  color: white;
} 
  #resend-email {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: 1;
    background: rgb(247, 11, 11);
    opacity: 0;
    transition: 0.6s;
    color: white;
  }
  #resend-email:target {
    height: 100%;
    opacity: 1;
  }
  .forgot-pw {
    color: inherit;
  }
  
  #forgot-pw {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: 1;
    background: rgb(247, 11, 11);
    opacity: 0;
    transition: 0.6s;
    color: white;
  }
  #forgot-pw:target {
    height: 100%;
    opacity: 1;
  }
  .close {
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    color: inherit;
  } 